* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: Arial, sans-serif;
  background-color: #d3dddd;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #132043;
}

header.header-scrolled {
  background-color: rgba(36, 37, 42, 0.9);
}


.logo img {
  width: 120px;
}

.foto-img img {
  align-content: center;
  width: 20%;
  height: 20%;
  border-radius: 20%;
  display: flex;
  margin-bottom: 15px;
}

ul li {
  margin-left: 20px;
}

#home h1 {
  margin-bottom: 15px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border: 1px solid #1d0c0c;
  border-radius: 5px;
}

h1, h2, h3 {
  color: #333;
}

#about p {
  text-align: justify;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#credits{
  font-size: 13px;
  color: white;
  padding: 15px;
  text-align: center;
  background-color: #000;
}

/* Media Query untuk Layar Kecil (Mobile) */
@media (max-width: 480px) {
  nav ul {
      flex-direction: column; /* Menu menjadi tumpukan vertikal pada layar kecil */
  }

  nav ul li {
      margin: 5px 0; /* Memberikan jarak yang lebih kecil pada layar kecil */
  }
}
